/* Header Part theming */
body {
  background: #fff;
}
.navbar.container {
  margin-top: 0px;
  width: 100%;
  max-width: 100%;
}
body.admin-menu {
  .navbar-fixed-top {
    top: 28px;
  }
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
  color: #555;
}
.nav > .active > a {
  background-color: #777;
  color: #fff;
}
ul.nav li.active:after {
  content: "";
  border-right: 10px solid #fff;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  position: absolute;
  right: 0;
  top: 40%;
}
header {
  .navbar-header {
    img {
      max-height: 35px;
    }
    .navbar-brand {
      color: #2C609C;
      font-weight: 600;
    }
  }
}
#block-menu-menu-patient-navigation {
  &.block-menu {
    .nav {
      text-align: center;
    }
    h2.block-title {
      display: none;
    }
    .nav > li {
    display: inline-block;
    width: 20%;
    &.active {
      &:after {
        content: "";
          border-bottom: 10px solid #fff;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        position: absolute;
        bottom: 0;
        right: 47%;
      }
    }
    }
  }
}
/* End of Header */

/* Container */
.main-container {
  margin-top: 52px;
  width: 100%;
  max-width: 100%;
}
body.admin-menu {
  .main-container {
    margin-top: 20px;
  }
}

/* End of Main Container*/

/* Sidebar Theming */
.sidebar {
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #363F46;
  border: 0px;
  box-shadow: 3px 0px 5px rgba(112, 116, 119, 0.33);
  .well {
    border-radius: 0px;
  	border: 0;
  	padding: 0;
    margin-top: 20px;
  	a {
  	  color: #fff;
      background: #282C2F;
  	}
  }
  .block-title {
	display: none;
  }
}
body.admin-menu {
  .sidebar {
    top: 80px;
  }
}
.sidebar-left {
  ul.menu {
    > li {
      a {
        padding: 20px 10px;
        color: #fff;
        border-bottom: 1px solid #333D44;
        background: #2A3238;
        font-size: 16px;
        &:before {
          display: inline-block;
          font-family: 'Glyphicons Halflings';
          margin-right: 5px;
          margin-top: -2px;
          vertical-align: middle;
        }
      }
      &.active {
        a {
          background: #7a8389;
          background: -moz-linear-gradient(top, #7a8389 0%, #54606f 100%);
          background: -webkit-linear-gradient(top, #7a8389 0%,#54606f 100%);
          background: linear-gradient(to bottom, #7a8389 0%,#54606f 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a8389', endColorstr='#54606f',GradientType=0 );
        }
      }
      &:first-child {
        a:before {
          content: "\e141";
        }
      }
      &:nth-child(2) {
        a:before {
          content: "\e032";
        }
      }
      &:nth-child(3) {
        a:before {
          content: "\e012";
        }
      }
      &:nth-child(4) {
        a:before {
          content: "\e008";
        }
      }
      &:nth-child(5) {
        a:before {
          content: "\e043";
        }
      }
      &:nth-child(6) {
        a:before {
          content: "\e018";
        }
      }
    }
  }
}
#block-system-main-menu {
  .contextual-links-wrapper {
    display: none;
  }
}
/* End of Sidebar Theming */

/* Breadcrumb Theming */
.breadcrumb-bar {
  >div {
    padding-right: 0px;
    padding-left: 0px;
  }
  ol.breadcrumb {
    background: #2D5F9A;
    border-radius: 0px;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 15px;
    li {
      color: #fff;
      a {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
/* End Of Breadcrumb */

/* Page Header */
h1.page-header {
  font-size: 18px;
  border: 0;
}
h1.page-header .login-title-suffix {
  font-size: 16px;
  padding-top: 10px;
}
/* End Of Page Header*/

.block-views {
  h2.block-title {
    font-size: 20px;
  }
}
#block-menu-menu-patient-navigation {
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
}
/* Add/Edit Project Page Theming */
form.node-project-form {
  background: #fff;
  padding: 15px;
  .form-item-title, .field-type-taxonomy-term-reference {
    display: inline-block;
    width: 49%;
    margin-right: 8px;
  }
  .form-item-field-pe-working-hours-und {
    display: inline-block;
    margin-right: 40px;
  }
  .sticky-header {
    display: none;
  }
  button.field-add-more-submit, button.btn-success {
    background: #A3CD3B;
    border: 0;
  }
  button.btn {
    border-radius: 0px;
  }
  button.btn-danger {
    background: #2C609C;
    border: 0;
  }
  table.table {
    background: #F3F3F3;
    width: 99%;
    thead {
      th.field-label {
        color: #2C609C;
        font-weight: 600;
        padding-left: 10px;
        padding-bottom: 2px;
        &:before {
          content: "+";
          margin-right: 5px;
        }
      }
    }
    .panel-heading {
      background: #e8e8e8;
      border-radius: 0;
      padding: 5px;
    }
    .panel-default>.panel-heading+.panel-collapse .panel-body:nth-child(n+1) {
      border: 0px;
    }
    a.panel-title {
      text-transform: uppercase;
      font-size: 13px;
      &:focus, &:hover {
        text-decoration: none;
      }
      &:before {
        margin-right: 5px;
      }
    }
    .field-name-field-pe-rfp-item {
      margin-right: 18px;
    }
    .field-name-field-pe-rfp-item, .field-name-field-pe-work-item {
      display: inline-block;
      width: 49%;
    }
    fieldset.group-pe-analysis-design, fieldset.group-pe-development, fieldset.group-pe-closure {
      .panel-body {
        > div {
          display: inline-block;
          width: 24%;
          margin-right: 8px;
        }
      }
    }
    fieldset.form-wrapper {
      .field-name-field-pe-project-management, .field-name-field-pe-total-analysis-design,
      .field-name-field-pe-total-closure, .field-name-field-pe-total-development,
      .field-name-field-pe-total-task-hours {
        display: inline-block;
        width: 19%;
        margin-right: 9px;
      }
    }
  }
  .field-name-field-pe-total-analysis-design, .field-name-field-pe-total-development,
  .field-name-field-pe-total-closure, .field-name-field-pe-project-management {
    display: inline-block;
    width: 24%;
    margin-right: 9px;
  }
  .vertical-tabs {
    display: none;
  }
}
/* End of Add/Edit Project Page Theming */

/* Login Page */
body.not-logged-in.page-user {
  width: 100%;
  max-width: 33.33%;
  margin: 0 auto;
  .col-sm-12 {
    padding-top: 100px;
  }
  h1.page-header {
    text-align: center;
    color: #2C609C;
    font-size: 24px;
  }
  #user-login {
    border: 15px solid #DFE0E2;
    border-radius: 9px;
    padding: 20px;
    background: #fff;
    .form-control {
      display: inline-block;
      width: 75%;
    }
  }
  #edit-actions {
    margin-left: 23%;
    margin-right: 5%;
    display: inline-block;
    .btn {
      background: #A2CE3B;
      color: #fff;
      border-radius: 0;
      width: 100%;
      box-shadow: 0 0 0;
      border: 0;
      margin-top: 10px;
    }
  }
}
#user-login .forgot-pass {
  display: inline-block;
  vertical-align: -6px;
}
/* End of login Page */

/* Patient Registration Form */
.webform-client-form-1 {
	.btn-danger {
		background: transparent;
		border: 0;
		font-size: 0;
		&:before {
			content: "X";
			font-size: 14px;
			font-weight: 600;
			color: #000;
		}
	}
	table.sticky-header {
		display: none;
	}
}
.webform-component-matrix {
	table {
		thead {
			th {
				&:last-child{
					width:10%;
				}
			}
		}
		tbody {
			tr {
				border-bottom: 2px solid #ddd;
				td:empty {
				    display: none;
				}
				td {
					&:last-child {
						text-align: center;
					}
				}
			}
		}
	}
}
.webform-next {
	float: right;
}
.webform-next, .webform-previous {
	background: #3576B6;
	color: #fff;
}
.webform-previous:before {
	content: " << ";
    display: inline-block;
    margin-right: 8px;
}
.webform-next:after {
    content: " >> ";
    display: inline-block;
    margin-left: 8px;
}
.webform-component--personal-information, .webform-component--patient-information { /* Diabetes form first page also themed using this css*/
  .pull-left {
    width: 48%;
  }
  .right-side {
  	border-left:1px solid #c4c4c4;
  	padding-left: 50px;
  }
  .webform-component-textarea {
  	.form-textarea-wrapper {
  	  width: 49%;
  	  .form-control {
  	    width: 94%;
  	  }
  	}
  }
  .form-horizontal {
    .form-group label {
      width: 40%;
      text-align: left;
      padding-left: 0px;
    }
    .form-control {
      width: 46%;
	  display: inline-block;
	}
	.alternate-number {
	  .webform-component-markup {
	    display: inline-block;
        width: 41.8%;
        .alternate-number {
          display: inline-block;
    	}
    	.btn-group {
    	  label {
    	    padding-left: 10px;
			width: 50%;
    	  }
    	}
	  }
	  .webform-component-number {
	  	display: inline-block;
        width: 57%;
        input {
        	width: 80.6%;
        }
	  }
	}
	.webform-component-date {
	  .form-type-select {
	  	display: inline-block;
	  	select {
	  	  width: 100%;
	  	}
	  }
	}
	.webform-component--personal-information--personal-information-wrapper-2--sex,
	.webform-component--personal-information--personal-information-wrapper-2--marital-status {
	  .form-radios {
	  	float: right;
    	width: 53%;
	  }
	}
	.webform-component--personal-information--personal-information-wrapper-2--employment-status {
	  select {
	    width: 46%;
	    background: transparent;
	    height: 34px;
   	    border-radius: 5px;
	    border: 1px solid #cccccc;
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    &:focus {
	  	  outline: 0;
	    }
	  }
	}
  }
}
.webform-component--insurance-information {
  .pull-left {
    width: 48%;
  }
  .secondary-wrapper, .insured-information-right {
  	border-left:1px solid #c4c4c4;
  	padding-left: 50px;
  }
  .form-radios {
  	float: right;
	width: 53%;
  }
  .form-horizontal {
    .form-group label {
      width: 40%;
      text-align: left;
      padding-left: 0px;
    }
    .form-control {
      width: 46%;
	  display: inline-block;
	}
  }
  .insured-information-right {
  	margin-bottom: 25px;
    .webform-component-date {
      .webform-container-inline {
      	label {
      		display: none;
      	}
      }
	  .form-type-select {
        display: inline-block;
        select {
          width: 100%;
        }
      }
    }
    .webform-component--insurance-information--insurance-information-wrapper-2--insurance-social-security-number {
      > label {
        width: 42%;
      }
      .webform-container-inline {
        > .form-group {
          display: inline-block;
          margin-left: 3px;
          .form-control {
            width: 95%;
          }
        }
      }
    }
  }
}
.consent {
  width: 70%;
  clear: both;
  margin: 0 auto;
  position: relative;
  max-height: 415px;
  margin-bottom: 25px;
 .infomation {
    clear: both;
    text-align: center;
    /*width: 50%;*/
    /*margin: 20px;*/
    padding: 20px;
    border: 3px solid #c4c4c4;
    ol {
      width: 60%;
      margin: 0 auto 10px;
    }
    h2 {
      margin-top: 10px;
    }
  }
  .tabHIPPA {
    position: relative;
    top: -20px;
    max-height: 390px;
    overflow-y: scroll;
    .webform-component--consent-form--hippa-information--hippa-information-wrapper--hippa-info {
      p {
        text-align: left;
      }
    }
    &.form-horizontal {
      .form-group {
        label {
          width: 100%;
          margin-bottom: 5px;
        }
      }
      .form-control {
        width: 100%;
        display: block;
      }
      .radio {
        width: 45%;
        display: inline-block;
        vertical-align: top;
      }
      label.element-invisible {
        display: none;
      }
    }
    .webform-component-radios, .webform-component-checkboxes {
      .form-radios {
        width: 100%;
      }
    }
    .webform-component--consent-form--hippa-information--hippa-information-wrapper--hippa-confirmation {
      #edit-submitted-consent-form-hippa-information-hippa-information-wrapper-hippa-confirmation {
        label.control-label {

        }
      }
    }
    .webform-component--consent-form--hippa-information--hippa-information-wrapper--hippa-fromdate {
      float: left;
    }
    .webform-component--consent-form--hippa-information--hippa-information-wrapper--hippa-enddate {
      float: right;
    }
    .webform-component--consent-form--hippa-information--hippa-information-wrapper--hippa-fromdate,
    .webform-component--consent-form--hippa-information--hippa-information-wrapper--hippa-enddate {
      width: 50%;
      label {
        width: 20% !important;
      }
    }
  }
  .tabINS {
    padding: 0;
    border: 0;
    &.form-horizontal {
      .form-group {
        label {
          width: 19%;
          margin-bottom: 5px;
        }
      }
      .form-control {
        width: 78%;
        display: block;
      }
      .radio {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        label {
          width: 100%;
          text-align: center;
        }
      }
      label.element-invisible {
        display: none;
      }
    }
    .webform-component--consent-form--ins-information--ins-information-wrapper--confirmation {
      .form-radios {
        width: 100%;
        float: none;
      }
      #edit-submitted-consent-form-ins-information-ins-information-wrapper-confirmation {
        width: 100%;
        float: none;
        label.control-label {
          text-align: center;
        }
      }
    }
  }
  .tabROI {
    position: absolute;
    top: 40px;
    width: 100%;
    &.form-horizontal {
      .form-group {
        label {
          width: 19%;
          margin-bottom: 5px;
        }
      }
      .form-control {
        width: 78%;
        display: block;
      }
      .radio {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        label {
          width: 100%;
          text-align: center;
        }
      }
      label.element-invisible {
        display: none;
      }
    }
    .webform-component--consent-form--roi-information--release-information-wrapper--roi-confirmation {
      .form-radios {
        width: 100%;
        float: none;
      }
      #edit-submitted-consent-form-roi-information-release-information-wrapper-roi-confirmation {
        width: 100%;
        float: none;
        label.control-label {
          text-align: center;
        }
      }
    }
  }
  #tabINS {
    position: relative;
    max-height: 390px;
    overflow-y: scroll;
    top: -431px;
    /*z-index: 1;*/
    padding: 20px;
    border: 3px solid #ddd;
  }
  .active.in {
    z-index: 10;
  }
  #mainTabs {
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #ddd;
      border-radius: 0;
      border-top: 0;
      border: 0;
      background: #ddd;
    }
    > li {
      a {
        border-bottom: 1px solid #ddd;
        border-top: 0;
      }
      &.active a {
        border-top: 0;
        border: 0;
        border-bottom: 1px solid #ddd;
        background: #ddd;
      }
    }
    li.active {
      a:after {
        display: none;
      }
    }
  }
  ul.nav li.active:after {
    display: none;
  }
  .webform-component--consent-form--ins-information-wrapper--confimation {
    .form-radios {
      width: 100%;
      > div {
        display: inline-block;
        width: 40%;
      }
    }
  }
  fieldset {
    border: 0;
    legend.panel-heading {
      display: none;
    }
    .panel-body {
      padding: 0;
    }
  }
}
.webform-client-form-1.preview {
  fieldset {
    border: 1px solid #ddd;
    &.fade {
      opacity: 1;
    }
  }
  legend.panel-heading {
    display: block;
  }
  .panel-body {
    padding: 20px;
  }
}
.webform-client-form-1 .form-actions button.webform-submit.form-submit {
  float: right;
}
.webform-component--insurance-information--insured-information, .webform-component--insurance-information--release-of-information {
	clear: both;
	padding-top: 20px;
}
.webform-component--health-history-personal-information--page-3-markup {
	overflow: hidden;
	display: block;
	width: 100%;
}
.webform-component--health-history-personal-information {
  .pull-left {
    width: 48%;
    margin-bottom: 20px;
  }
  .right-side {
    border-left:1px solid #c4c4c4;
    padding-left: 50px;
  }
  .form-radios {
  	float: right;
	width: 53%;
  }
  .form-horizontal {
    .form-group label {
      width: 40%;
      text-align: left;
      padding-left: 0px;
    }
    .form-control {
      width: 46%;
      display: inline-block;
    }
  }
  .webform-component-date {
    .form-type-select {
      display: inline-block;
      select {
        width: 100%;
      }
    }
  }
  caption {
  	font-weight: 600;
  	color: #333;
  }
  .webform-component--health-history-personal-information--date-of-last-complete-physical-exam,
  .webform-component--health-history-personal-information--date-of-last-blood-work,
  .webform-component--health-history-personal-information--date-of-last-colonoscopy,
  .webform-component--health-history-personal-information--date-of-last-tetanus-shot {
  	display: inline-block;
  	width: 48%;
  	label {
  	  float: left;
      width: 40%;
      text-align: left;
  	}
  	.webform-container-inline {
	  label {
	  	display: none;
	  }
	}
  }
}
.webform-component--health-history-personal-information--number-of-children, .webform-component-childrens-names-and-ages {
	clear: 	both;
	float: left;
	width: 100%;
}
.webform-component--health-history-personal-information--number-of-children {
  label {
  	width: 40%;
	float: left;
	text-align: left !important;
  }
}
.webform-component--health-history-personal-information--number-of-children {
	display: none;
}
.webform-component-childrens-names-and-ages {
	clear: none;
	/*border-left: 1px solid #c4c4c4;
	padding-left: 50px;*/
}
.webform-component--health-history-personal-information--for-female-questions {
	width: 45%;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid #c4c4c4;
    .sticky-header {
    	display: none;
    }
}
.webform-component--health-history-personal-information--for-female-questions--row--for-female-questions--67--row--for-female-questions--dasdasca--67 {
	table {
		thead {
			th {
				&:first-child {
					display: none;
				}
			}
		}
		tbody {
			td {
				&:first-child {
					display: none;
				}
			}
		}
	}
}
.webform-component--diseases-history, .webform-component--diseases-history-divider-1,
.webform-component--diseases-history-divider-2 {
	width: 33%;
	float: left;
	border-right: 1px solid #c4c4c4;
	padding-right: 15px;
	padding-left: 15px;
}
.webform-component--diseases-history-divider-1,
.webform-component--diseases-history-divider-2 {
	margin-top: 25px;
}
.webform-component-diseases-history-extended,  .webform-component-surgeries {
	width: 50%;
    float: left;
    clear: none;
    border-right: 1px solid #c4c4c4;
    padding-right: 10px;
    padding-left: 10px;
	/*.btn {
		padding: 4px;
		font-size: 10px;
	}*/
}
.webform-component-surgeries {
	margin-bottom: 20px;
}
.webform-component-surgeries {
	table {
		thead {
			th {
				&:first-child {
					width: 36%;
				}
			}
		}
		tbody {
		  td {
		  	.webform-container-inline {
		  	  > div {
		  	  	display: inline-block;
    			width: 33%;
    			/*.form-control {
    			  padding: 6px 3px;
    			  font-size: 10px
    			}*/
		  	  }
		  	}
		  }
		}
	}
}
.webform-component--social-information {
	clear: both !important;
}
.webform-component--special-diet, .webform-component--social-information {
	width: 49%;
    float: left;
    clear: none;
    margin-left: 0.5%;
}
.webform-component--personal-information--personal-information-wrapper-2--sex,
.webform-component--insurance-information--primary-insurance-wrapper--patient-is-subscriber-policy-holder,
.webform-component--insurance-information--secondary-insurance-wrapper--patient-is-subscriber-secondary-policy-holder {
  &.form-group {
    .form-radios {
      label {
        width:15%;
      }
    }
  }
}
.webform-component--health-history-personal-information--medical-information-with-desc,
.webform-component--any-other-physician,
.webform-component--medical-information,
.webform-component--health-history-personal-information--any-allergies-to {
  margin-top: 25px;
}
.webform-component--personal-information {
  .webform-component--personal-information--personal-information-wrapper-2--social-security-number {
    > label {
      width: 42% !important;
    }
    .webform-container-inline {
      > .form-group {
        display: inline-block;
        margin-left: 3px;
        .form-control {
          width: 95%;
        }
      }
    }
  }
}
/* End of patiend registration form*/

/* Diabetes form theming */
.form-horizontal {
  .form-group label {
  	width: 40%;
    text-align: left;
    padding-left: 0px;
  }
  .form-control {
  	width: 46%;
    display: inline-block;
  }
  .webform-component-date {
    .form-type-select {
      display: inline-block;
      select {
        width: 100%;
      }
    }
  }
}
.webform-component-radios, .webform-component-checkboxes {
  .form-radios, .form-checkboxes {
  	width: 53%;
  	float: right;
  }
}
.webform-component-textarea {
  .form-textarea-wrapper {
	width: 49%;
	.form-control {
	  width: 94%;
	}
  }
}
.webform-component--family-relative, .webform-component--assessment-date, .webform-component--diabetes-type {
  float: left;
  min-height: 216px;
}
.webform-component--family-relative {
  width:30%;
}
.webform-component--assessment-date {
  width: 39%;
}
.webform-component--diabetes-type {
  width: 29%;
}
.webform-component--family-relative, .webform-component--assessment-date {
  margin-right: 10px;
}
.webform-component--medication-information, .webform-component--medication-information--other-medical-details {
  clear: both;
}
.webform-component--medication-information {
  .pull-left {
    width: 48%;
  }
  .other-details-right {
  	border-left: 1px solid #c4c4c4;
  	padding-left: 50px;
  }
}
.webform-component--medication-information--other-details--complications-secondary-to-diabetes {
  p {
    font-size: 14px;
    font-weight: 600;
  }
}

.patient-referred-left, .patient-referred-right {
	width:48%;
  padding-right: 25px;
}
.patient-referred-right {
  border-left: 1px solid #c4c4c4;
  padding-left: 25px;
  margin-bottom: 20px;
  .webform-component--patient-referred-wrapper-right--patient-referred-for-diabetes {
    clear: both;
  }
  table {
  	tbody {
  	  td.checkbox {
  	  	width:15%;
  	  }
  	}
  }
}
.diabetic-wrapper {
  overflow: hidden;
  .pull-left {
 	width: 48%;
  }
  .diabetic-supplies-right {
  	border-left: 1px solid #c4c4c4;
  	padding-left: 50px;
  }
}
.webform-component--other-information {
  clear: both;
  .pull-left {
  	width: 48%;
  }
  .mobility-issue-and-diabetes-action-right {
  	border-left: 1px solid #c4c4c4;
  	padding-left: 50px;
  }
  .diabetic-supplies-and-pain-management-left {
	#edit-submitted-other-information-diabetic-supplies-and-pain-management-wrapper-diabetic-supplies-how-obtained-select,
	#edit-submitted-other-information-diabetic-supplies-and-pain-management-wrapper-pain-management-for-neuropathy-select {
	  display: inline-block;
      width: 50%;
	}
	.form-item-submitted-other-information-diabetic-supplies-and-pain-management-wrapper-diabetic-supplies-how-obtained-other,
	.form-item-submitted-other-information-diabetic-supplies-and-pain-management-wrapper-pain-management-for-neuropathy-other {
		float: right;
    	width: 61%;
	}
	.webform-component--other-information--diabetic-supplies-and-pain-management-wrapper--pain-management-for-neuropathy {
		clear: both;
	}
	#edit-submitted-other-information-diabetic-supplies-and-pain-management-wrapper-pain-management-for-neuropathy-select {
		> div {
			display: inline-block;
    		width: 32%;
		}
	}
  }
  .mobility-issue-and-diabetes-action-right {
  	#edit-submitted-other-information-mobility-issue-and-diabetes-action-plan-wrapper-mobility-issues-specific-to-diabetes-select,
  	#edit-submitted-other-information-mobility-issue-and-diabetes-action-plan-wrapper-diabetes-action-plan-optional-select {
  	  display: inline-block;
      width: 50%;
  	}
  	.form-item-submitted-other-information-mobility-issue-and-diabetes-action-plan-wrapper-mobility-issues-specific-to-diabetes-other,
  	.form-item-submitted-other-information-mobility-issue-and-diabetes-action-plan-wrapper-diabetes-action-plan-optional-other {
  	  float: right;
      width: 61%;
  	}
  	.webform-component--other-information--mobility-issue-and-diabetes-action-plan-wrapper--diabetes-action-plan-optional {
  		clear: both;
  	}
  	#edit-submitted-other-information-mobility-issue-and-diabetes-action-plan-wrapper-diabetes-action-plan-optional-select {
		> div {
			display: inline-block;
    		width: 32%;
		}
	}
  }
}
/* End of Diabetes form theming*/

/* Hypertension form theming */
.webform-component--history-of-present-illness {
  .webform-component--history-of-present-illness--major-risk-factors-check-if-present,
  .webform-component--history-of-present-illness--target-organ-damage-check-if-present,
  .webform-component--history-of-present-illness--history-of-present {
    > label.control-label {
	  width: 22%;
	}
	#edit-submitted-history-of-present-illness-major-risk-factors-check-if-present,
	#edit-submitted-history-of-present-illness-target-organ-damage-check-if-present {
	  width: 75%;
	  > div.form-item {
	  	display: inline-block;
	  	width: 24%;
	  	vertical-align: top;
	  	label.control-label {
	  	  width: 92%;
	  	}
	  }
	}
  }
}
.webform-component--page-2-wrapper-left--hypertension-encounter-form,
.webform-component--page-2-wrapper-left--decision-support-for-selection-of-a-drug-class,
.webform-component--physical-examination {
  .webform-component--page-2-wrapper-left--hypertension-encounter-form--decision-support-for-further-investigation,
  .webform-component-checkboxes, .webform-component-radios {
    > label.control-label {
	  width: 30%;
	}
    #edit-submitted-page-2-wrapper-left-hypertension-encounter-form-decision-support-for-further-investigation,
    .form-checkboxes, .form-radios {
      width: 69%;
      > div.form-item {
  	    display: inline-block;
  	    width: 50%;
  	    vertical-align: top;
  	    label.control-label {
  	      width: 95%;
  	    }
      }
    }
  }
}
.webform-component--physical-examination {
  .panel-body {
    > div.form-item {
      /*clear: both;*/
      display: inline-block;
      width: 48%;
    }
    > div.full-width {
    	width: 100%;
    }
    .vascular {
      vertical-align: top;
      padding-left: 25px;
    }
    .left-side {
      border-right: 1px solid #c4c4c4;
      padding-right: 25px;
    }
  }
}
.webform-component--hypertension-patients-information {
  .panel-body {
  	> div.form-item {
  	  display: inline-block;
  	  width: 19%;
  	  > label {
  	  	width: 36%;
  	  	text-align: right;
  	  }
  	  > .form-control {
  	  	width: 54%;
  	  }
  	  &.webform-component--hypertension-patients-information--patients-name {
  	  	width: 26%;
  	  }
  	  &.webform-component--hypertension-patients-information--age {
  	  	width: 12%;
  	  }
  	}

  }
}
.webform-component--page-2-wrapper-left--blood-pressure {
  .webform-component--page-2-wrapper-left--blood-pressure--bilateral-blood-pressure-measure {
  	> label.control-label {
  	  width:23%;
  	}
  	table {
  	  tbody {
  	  	td {
  	  	  label {
  	  	  	display: none;
  	  	  }
  	  	  .form-control {
  	  	  	width: 70%;
  	  	  }
  	  	}
  	  }
  	}
  }
}
.page-left-wrapper.pull-left, .webform-component--physical-examination {
	width:48%;
}
.page-left-wrapper.pull-left {
  padding-right: 25px;
  border-right: 1px solid #c4c4c4;
}
.webform-component--physical-examination {
  margin-left: 25px;
}
.webform-component--history-of-present-illness {
  .panel-body {
    .pull-left {
      width: 48%;
    }
    .left-side {
      border-right: 1px solid #c4c4c4;
      padding-right: 25px;
    }
    .right-side {
      padding-left: 25px;
    }
  }
}
/* End of Hypertension form theming */

/*Password Modal popup*/
.modal {
  overflow: visible;
  height: 100%;
  background: rgba(196, 196, 196, 0.62);
  .modal-dialog {
    top: 40%;
  }
  .modal-body {
    padding: 16px;
    .password-type {
      margin-left: 15px;
    }
  }
}
.alert-danger {
  display: none;
}
.page-user-password .alert-danger, .page-user-login .alert-danger {
  display: block;
}
.webform-component--consent-form-fieldset {
  clear: both;
}
.clientside-error {
  ul {
    list-style: circle;
    padding: 10px 50px;
    margin-bottom: 0;
    li {
      margin-bottom: 5px;
      label {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
input {
  &.error {
    border-color: #a94442;
    border-width: 2px;
  }
}
.webform-progressbar {
  margin-bottom: 50px;
}
.webform-confirmation {
  font-size: 20px;
  text-align: center;
}
.consent-form-title {
  clear: both;
  margin: 0 auto;
  width: 175px;
}
.confirmation .form-checkboxes {
  float: left;
  margin-left: 22px;
}
